body{
    /* background-color: rgba(0, 114, 245, 0.674); */
    background-color: rgb(71, 157, 255);
    color: white;
}

#btnGet{
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 45%;
  padding:15px;
  background-color: rgb(84, 137, 245);
  border: none;
  /* background-color: rgba(255, 255, 255, 0); */
  /* border: 2px solid white; */
  border-radius: 10px;
  color:white;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 2px 2px 5px rgba(170, 173, 252, 0.6) inset, 3px 3px 10px rgba(0,0,0,0.6);
  transition: ease-in-out 200ms, width ease-in-out 900ms, box-shadow ease-in-out 400ms;
}

#btnGet:hover{
    transform: translate(-1px, -2px);
    /* box-shadow: 3px 3px 10px rgba(0,0,0,0.6); */
    /* background-color: rgb(0, 132, 199); */
    /* border: 2px solid white; */
    cursor: pointer;
}


#btnGet:active{
    transform: translate(1px, 2px);
    box-shadow: 3px 3px 5px rgba(42, 42, 42, 0.6) inset ;
}

.player {
    background-color: rgba(0, 125, 203, 0.638);
    position: relative;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    margin-top: 20%;
    margin-left:5% ;
    padding: 10%;
    text-align: left;
    width: 50%;
    transition: ease-in-out 150ms;
}

.player:hover{
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
    background-color: rgb(0, 78, 212);
}




#message {
    display: grid;
    grid-template-columns:33% 33% 33%;
    gap: 1em;
}

h1{
    margin-top: 20px;
    text-align: center;
    font-family: 'Trebuchet MS';
    font-size: 30px;
}
h2{
    position: absolute;
    font-family: 'Trebuchet MS';
    font-size: 30px;
}

.player>.strength {
    font-size: 20px;
    font-weight: bold;

    
}
